@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBMPlexMono-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBMPlexMono-Bold.ttf");
  font-weight: bold;
}

.header {
  position: relative;
  width: 1024px;
  height: 768px;
  background-image: url("./image/cover-image-dark.png");
  background-size: 1229px 768px;
  background-position-x: -102px;
}

body {
  background-color: #000028;
  display: flex;
  justify-content: center;
}

.container {
  max-height: max-content;
  margin: 0;
  position: relative;
}

.navigation {
  display: flex;
  position: relative;
  justify-content: center;
  top: 20px;
  left: 397px;
  width: 230px;
  height: 26px;
  list-style-type: none;
}

.navigation button {
  width: 70px;
  height: 26px;
  padding-right: 13px;
  padding-left: 13px;
  font-family: "IBM Plex Mono", sans-serif;
  color: #ff0070;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

.isActiveButton,
button:hover {
  border: 1px solid #ff0070 !important;
}

.rec-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 26px;
  width: 58px;
  left: 943px;
  top: 20px;
  margin: 0;

  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  text-align: center;
  color: #ff0070;
}

.border1 {
  width: 25px;
  height: 25px;
  top: -1;
  left: 30px;
  border: 1px solid;
  border-bottom: #ff0070;
  border-left: #ff0070;
  position: absolute;
}

.border2 {
  width: 25px;
  height: 25px;
  top: 702px;
  right: 958px;
  border: 1px solid;
  border-top: #ff0070;
  border-right: #ff0070;
  position: absolute;
}

h1 {
  position: absolute;
  top: 319px;
  width: 759px;
  height: 130px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: bold;
  font-size: 157px;
  line-height: 129.53px;
  color: #db00ff;
  margin: 0;
  text-shadow: 4px 4px 0px #ff0070;
}

.p1 {
  position: relative;
  top: 535px;
  left: 513px;
  right: 20px;
  bottom: 134px;
  width: 491px;
  height: 71px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #ff0070;
  color: #000028;
}

.REC {
  margin: 0;
}
.ellipse {
  position: absolute;
  right: 0;

  width: 9px;
  height: 9px;
  top: 28;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
  border-radius: 50%;
  margin-right: 10px;
}

.main {
  width: 1024px;
  height: 3352px;
  top: 828px;
}

.why-focus {
  width: Fixed (1, 024px) px;
  height: Fixed (508px) px;
  top: 828px;
  padding: 0 20px 0 20px;
}

.stolb {
  width: 984px;
  height: 508px;
  display: flex;
  flex-direction: column;
}

.hard {
  display: flex;
}

.hard > h2 {
  display: flex;
  width: 314.96px;
  height: 47px;
  left: 20px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: rgba(255, 0, 112, 1);
}

.mnogo {
  width: 648.92px;
  height: 244px;
  left: px;
  padding: 0;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 17px;
  line-height: 14px;
  text-align: left;
}

.mnogo > h3 {
  background: rgba(255, 0, 112, 1);
  font-weight: 700px;
}

.text1 {
  width: 648.92px;
  height: 211px;
  top: 33px;
  left: 354.89px;
  color: rgba(241, 178, 206, 1);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.dofamin {
  width: 648.92px;
  height: 244px;
  top: 264px;
  left: 355.08px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 23px;
  line-height: 23.4px;
  text-align: left;
}

.dofamin > h4 {
  background: rgba(255, 0, 112, 1);
  font-weight: 700;
}

.text2 {
  width: 648.92px;
  height: 211px;
  top: 297px;
  left: 355.08px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}

.what-low {
  width: Fixed (1, 024px) px;
  height: (498px) px;
  top: 1410px;
  padding: 0 20px 0 20px;
}

.focus {
  display: flex;
}

.focus > h5 {
  width: 315px;
  height: 47px;
  left: 20px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: rgba(255, 0, 112, 1);
}

.mnogozad {
  width: 315px;
  height: 23px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.mnogozad > h6 {
  background: rgba(255, 0, 112, 1);
}

.text3 {
  width: 315px;
  height: 351px;
  top: 33px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}

.food {
  width: 315px;
  height: 23px;
  left: 335px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.food > h7 {
  background: #ff0070;
}

.text4 {
  width: 315px;
  height: 328px;
  top: 33px;
  left: 335px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}

.gadget {
  width: 315px;
  height: 23px;
  left: 670px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.gadget > h8 {
  background: #ff0070;
}

.text5 {
  width: 315px;
  height: 398px;
  top: 33px;
  left: 670px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}

.stroka {
  width: 984px;
  height: 431px;
  flex-direction: row;
}

.how-conc {
  width: 984px;
  height: 1015px;
}

.better {
  width: 315px;
  height: 98px;
  left: 20px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.better > h10 {
  background: rgba(255, 0, 112, 1);
}

.stolb2 {
  width: Fixed (649px) px;
  height: Hug (1, 015px) px;
  left: 355px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.fift {
  width: 649px;
  height: 23px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background: #ff0070;
}

.pred {
  width: 649px;
  height: 23px;
  top: 43px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.pred > h12 {
  background: #ff0070;
}

.text6 {
  width: 647.55px;
  height: 211px;
  top: 76px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}

.on-mus {
  width: 649px;
  height: 23px;
  top: 307px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.on-mus > h13 {
  background: #ff0070;
}

.text7 {
  width: 649px;
  height: 117px;
  top: 340px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}

.walk {
  width: 649px;
  height: 23px;
  top: 477px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.walk > h13 {
  background: #ff0070;
}

.text8 {
  width: 649px;
  height: 164px;
  top: 510px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}

.good-eat {
  width: 649px;
  height: 23px;
  top: 694px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.good-eat > h14 {
  background: #ff0070;
}

.text9 {
  width: 649px;
  height: 118px;
  top: 727px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.reed {
  width: 649px;
  height: 23px;
  top: 865px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.reed > h15 {
  background: #ff0070;
}

.text10 {
  width: 649px;
  height: 117px;
  top: 898px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(241, 178, 206, 1);
}
